.sign-in-box,
.img-VIP-Access {
  background-color: #191e3b;
}

.card-container {
  width: 75%;
}

.card-container .filterSection {
  display: none;
}

.card-container .single-cardBox .linkeButton .fillLike {
  display: none;
}

.card-container .single-cardBox .linkeButton:hover .unfillLike {
  display: none;
}

.card-container .single-cardBox .linkeButton:hover .fillLike {
  display: block;
}

.card-container .single-cardBox .img-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
}

/* Animation img>button */
.next-button:hover .arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.prev-button:hover .arrow {
  animation: slide-in-right 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.next-button:active,
.prev-button:active {
  transform: scale(0.97);
}

/*------ Media Queries----- */

@media screen and (max-width: 912px) {
  .container {
    width: 100%;
  }

  .sidebarSection_mainSection {
    flex-direction: column;
  }

  .sidebarSection_mainSection .sideBar,
  .card-container .sortBy_section {
    display: none;
  }

  .card-container .filterSection {
    display: flex;
  }

  .card-container .properties {
    width: 100%;
    flex-direction: row;
  }

  .card-container .properties .howSort {
    text-align: center;
    margin-inline: auto;
  }

  .sidebarSection_mainSection .card-container {
    width: 100%;
  }

  .card-container .single-cardBox .relative {
    width: 50%;
  }
}

/* @media screen and (max-width: 480px) {
  .card-container .single-cardBox .hotel-details .reviews-prices {
    flex-direction: column;
    gap: 1.5rem;
  }

  .card-container .reviews-prices .reviews,
  .card-container .reviews-prices .prices {
    width: 100%;
  }
} */

@media screen and (max-width: 580px) {
  .Where-to-section .whereTo {
    flex-direction: column;
    gap: 2rem;
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .Where-to-section .whereTo .sections {
    width: 100%;
    margin-left: 0rem;
    margin-top: 0rem;
  }

  .Where-to-section .whereTo button {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .Where-to-section .whereTo button p {
    display: flex;
  }

  .card-container .single-cardBox {
    flex-direction: column;
    gap: 1.5rem;
  }

  .card-container .single-cardBox .relative,
  .card-container .single-cardBox .hotel-details {
    width: 100%;
  }

  .card-container .single-cardBox .relative .img-container img {
    object-position: center;
    object-fit: cover;
    /* height: 20rem; */
    height: 38vh;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
  }
}
